<div class="footer" id="footer">
    <div class="navigation-links">
        <a href="#">
            <p>HOME</p>
        </a>
        <a href="">
            <p>GALLERY</p>
        </a>
        <a href="#about">
            <p>ABOUT</p>
        </a>
        <a href="">
            <p>SHOP</p>
        </a>
        <a href="">
            <p>TERMS & CONDITIONS</p>
        </a>
    </div>
    <div class="contacts" id="contacts">
        <h5>CONTACT ME</h5>
        <a href="mailto:example@gmail.com"><img src="img/email.svg" alt=""></a><br>
        <a href="tel:+911123456765"><img src="img/phone.svg" alt=""></a>
    </div>
    <div class="social-media">
        <h5>SOCIAL MEDIA</h5>
        <a href="https://www.facebook.com/" target="_blank"><img src="img/facebook.svg" alt=""></a><br>
        <a href="https://www.instagram.com/" target="_blank"><img src="img/instagram.svg" alt=""></a>
    </div>
    <div class="thank-you">
        <h5>THANK YOU FOR VISITING MY ART GALLERY!</h5>
        <p>Thank you for taking the time to explore My Art Gallery. Your visit means the world to us, and
            we are truly grateful for your interest in our artwork.</p>
    </div>
</div>

<a href="#">
    <div class="go-to-top">
        <img src="img/up.svg" alt="">
    </div>
</a>