<!DOCTYPE html>
<html lang="en">
<%- include ('includes/head.ejs') %>

    <body>
        <%- include ('includes/header.ejs') %>


            <div class="collections">
                <div class="images">
                    <div data-aos="flip-left" class="img-container"><img src="img/1.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/2.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/3.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/4.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/5.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/6.jpg" alt=""></div>
                </div>
                <div class="images">
                    <div data-aos="flip-left" class="img-container"><img src="img/7.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/8.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/1.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/2.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/3.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/4.jpg" alt=""></div>
                </div>
                <div class="images">
                    <div data-aos="flip-left" class="img-container"><img src="img/5.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/6.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/7.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/8.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/1.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/2.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/3.jpg" alt=""></div>
                </div>
                <div class="images">
                    <div data-aos="flip-left" class="img-container"><img src="img/4.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/5.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/6.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/7.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/8.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/1.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/2.jpg" alt=""></div>
                </div>
                <div class="images">
                    <div data-aos="flip-left" class="img-container"><img src="img/3.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/4.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/5.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/6.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/7.jpg" alt=""></div>
                    <div data-aos="flip-left" class="img-container"><img src="img/8.jpg" alt=""></div>
                </div>
            </div>

            <%- include ('includes/footer.ejs') %>
    </body>

    <%- include ('includes/script.ejs') %>
</html>