<!DOCTYPE html>
<html lang="en">

<%- include ('includes/head.ejs') %>

<body>

    <%- include ('includes/header.ejs') %>

    

    <div class="section">
        <div class="sec1">
            <h1 data-aos="fade-up" class="woc">WHISPERS OF COLOR</h1>
            <p data-aos="fade-up">Welcome to my online <span>art</span> gallery!</p>
            <p data-aos="fade-up">Step into a world where the beauty of nature intertwines with the creativity of art at my
                <span>Nature-Inspired</span> Art Gallery. As an artist deeply inspired by the wonders of the natural
                world, I invite
                you to embark on a journey of discovery and exploration.
            </p>
            <button data-aos="fade-up" class="visit-G">VISIT GALLERY</button>
        </div>
        <div class="sec2">
            <div class="div1">
                <div class="img-container"><img src="img/3.webp" alt=""></div>
                <div class="img-container"><img src="img/4.webp" alt=""></div>
            </div>
            <div class="div2">
                <div class="img-container"><img src="img/1.webp" alt=""></div>
                <div class="img-container"><img src="img/2.webp" alt=""></div>
            </div>
        </div>
    </div>

    <div class="preserving">
        <div>
            <h2 data-aos="fade-up">"Preserving the Beauty of Our Planet"</h2>
            <p data-aos="fade-up">At Whispers of color: art gallery, we believe in the importance of preserving and protecting our
                environment. Through our artwork, we aim to raise awareness about the fragility of our planet and
                inspire others to appreciate and conserve the natural world for future generations.</p>
        </div>
        <div>
        </div>
    </div>

    <div class="sec-2nd">
        <div data-aos="fade-up" class="img5">
            <img src="img/7.webp" alt="">
        </div>
        <div class="find-inspiration">
            <h2 data-aos="fade-up">Finding Inspiration in Nature's Beauty</h2>
            <p data-aos="fade-up">Join us on a journey of inspiration as we explore the endless beauty and diversity of nature.</p>
            <form data-aos="fade-up" class="search">
                <input type="text" placeholder="Explore our Art Collection...">
                <button type="submit"><img src="img/search.svg" alt=""></button>
            </form>
        </div>
    </div>

    <div data-aos="fade-up" class="slogan">
        <h2>"coloring your world with creativity"</h2>
    </div>

    <div class="about" id="about">
        <div data-aos="fade-up">
            <h2>ABOUT ME</h2>
            <p>As the founder and curator of this gallery, I am deeply passionate about two things: art and nature. From
                a young age, I've been captivated by the beauty and wonder of the natural world, finding inspiration in
                its boundless landscapes, vibrant colors, and intricate details. <br><br>Nature has always been my
                greatest
                muse, and through my artwork, I strive to capture the essence of its beauty and diversity. From the
                vibrant colors of a sunrise to the delicate details of a flower petal, each piece in our gallery is a
                reflection of my deep connection to the natural world.</p>
        </div>
    </div>

    <div class="extra-details">
        <div data-aos="fade-up">
            <h3>title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquam saepe molestiae!</p>
            <a href=""><span>learn more</span><img src="img/arrow.svg" alt=""></a>
        </div>
        <div data-aos="fade-up">
            <h3>title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquam saepe molestiae!</p>
            <a href=""><span>learn more</span><img src="img/arrow.svg" alt=""></a>
        </div>
        <div>
            <h3>title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquam saepe molestiae!</p>
            <a href=""><span>learn more</span><img src="img/arrow.svg" alt=""></a>
        </div>
        <div>
            <h3>title</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquam saepe molestiae!</p>
            <a href=""><span>learn more</span><img src="img/arrow.svg" alt=""></a>
        </div>
    </div>
    

    <%- include ('includes/footer.ejs') %>

</body>

<%- include ('includes/script.ejs') %>

</html>