/* Width of the scrollbar */
::-webkit-scrollbar {
    display:none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--4);
}

img {
    width: 100%;
}

.logo {
    font-family: var(--rubik);
    font-weight: bold;
    color: var(--5);
    font-size: 18px;
}

.navbar {
    height: 80px;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 5%;
    box-shadow: 0 0 5px var(--5);
    position: relative;
}

.nav-content ul {
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content ul a {
    text-decoration: none;
    font-family: var(--rubik);
    color: var(--5);
    font-size: 14px;
    font-weight: 500;
}

.sign-in {
    border: 2px solid var(--1);
    padding: 10px 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    font-family: var(--rubik);
    color: var(--5);
    font-size: 14px;
    font-weight: 500;
}

.sign-up {
    border: 2px solid var(--1);
    background-color: var(--1);
    padding: 10px 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    font-family: var(--rubik);
    color: var(--4);
    font-size: 14px;
    font-weight: 500;
}

.sign-up:hover,
.sign-in:hover,
.visit-G:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--1);
}

.down{
    display:none;
}

.up{
    display:none;
}

.section {
    width: 90%;
    margin: 0 5%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.sec1 {
    margin-right: 10%;
}

.woc {
    margin-top: 100px;
    color: var(--5);
    font-size: 80px;
    margin-bottom: 0;
}

.sec1 p {
    font-family: var(--rubik);
}

.sec1 p span {
    color: var(--1);
}

.welcome {
    z-index: 2;
}

.visit-G {
    padding: 10px 15px;
    color: white;
    border: 2px solid var(--1);
    background-color: var(--1);
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease;
}

.sec2 {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.img-container {
    overflow: hidden;
    margin-bottom: 15px;
}

.img-container img {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.div1,
.div2 {
    width: 100%;
}

.preserving,
.sec-2nd {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 5%;
    text-align: center;
    margin-bottom: 5%;
    align-items: center;
}

.preserving h2,
.find-inspiration h2,
.about div h2 {
    font-size: 26px;
    font-family: var(--vollkorn);
}

.preserving p,
.find-inspiration p,
.about div p {
    font-family: var(--rubik);
}

.find-inspiration {
    margin-left: 5%;
}

.search {
    width: 85%;
    margin: 0 5%;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    border: 1px solid var(--1);
}

.search:hover {
    box-shadow: 0 0 5px var(--1);
}

.search input {
    background-color: transparent;
    border: 0;
    flex: 1;
    outline: none;
    padding: 15px 10px;
}

.search button img {
    width: 25px;
    cursor: pointer;
}

.search button {
    border: 0;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(250, 112, 112, 0.5);
}

::placeholder {

    font-family: var(--rubik);
}

.slogan {
    margin: 0 5% 5% 5%;
}

.slogan h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: var(--vollkorn);
    color: var(--5);
    text-align: center;
}

.about {
    height: auto;
    background-color: var(--1);
    color: var(--4);
    margin-bottom: 10%;
    padding: 5% 20%;
}

.about div {
    z-index: 3;
    text-align: center;
    align-items: center;
}

.extra-details {
    height:auto;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 20% 10% 20%;
    gap: 10%;
}

.extra-details h3 {
    font-size: 22px;
    font-family: var(--vollkorn);
}

.extra-details p {
    font-family: var(--rubik);
}

.extra-details a {
    width: 100px;
    display: flex;
    align-items: end;
    color: var(--1);
}

.extra-details img {
    width: 16px;
    transition: margin-left 0.5s ease;
}

.extra-details a:hover img {
    margin-left: 10px;
}

.footer {
    background-color: var(--1);
    display: grid;
    grid-template-columns: 15% 20% 20% 45%;
    padding: 5% 10%;
    color: var(--4);
}

.footer h5 {
    font-size: 16px;
    font-family: var(--vollkorn);
    text-align: center;
}

.navigation-links {
    padding-top: 16px;
}

.navigation-links a {
    text-decoration: none;
    font-family: var(--rubik);
    color: var(--4);
    font-size: 14px;
}

.contacts,
.social-media {
    text-align: center;
}

.contacts img,
.social-media img {
    width: 25px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(254, 253, 237, 0.2);
}

.thank-you p {
    font-family: var(--rubik);
    text-align: center;
}

.go-to-top {
    position: fixed;
    right: 0;
    bottom: -90px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    z-index: 99;
    background-color: white;
    border: 2px solid var(--1);
    margin: 30px;
    transition: transform 0.5s ease, bottom 0.5s ease;
}

.go-to-top:hover {
    box-shadow: 0 0 5px var(--1);
    transform: scale(1.1);
}

.login-form,
.signupform {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: calc(100vh - 80px);
    display: none;
    justify-content: center;
    align-items: center;
}

.form1,
.form2 {
    background-color: var(--4);
    box-shadow: 0 0 10px var(--5);
    border-radius: 10px;
    padding: 10px;
}

form {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    width: 300px;
}

form p {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: var(--vollkorn);
}

input[name="fullname"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--5);
    font-size: 14px;
    font-family: var(--rubik);
}

.close {
    width: 100%;
    ;
}

.close img {
    width: 20px;
    float: right;
}

.login-btn,
.signup-btn {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--1);
    background-color: var(--1);
    color: var(--4);
    font-family: var(--rubik);
}

.login-btn:hover,
.signup-btn:hover {
    box-shadow: 0 0 5px var(--1);
}

.rememberme,
.TandC {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: var(--rubik);
}

.forget {
    display: flex;
    font-family: var(--rubik);
    font-size: 12px;
    margin-bottom: 10px;
}

.forget a {
    text-decoration: none;
    color: var(--5);
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-scroll {
    overflow: hidden;
}

.have-account {
    font-family: var(--rubik);
    font-size: 12px;
    color: var(--5);
    font-weight: 400;
}

.have-account a {
    color: var(--1);
}






.gallery {
    column-count: 5;
    column-gap: 10px;
}

.artwork {
    display: inline-block;
    margin-bottom: 10px;
    break-inside: avoid;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.artwork img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
    transition: transform 0.5s ease;
}

.artwork img:hover{
    transform: scale(1.2);
}

.artwork p {
    padding: 10px;
    margin: 0;
}








@media (max-width:1280px) {

    .navbar {
        grid-template-columns: 45% 55%;
    }

    .sec1 {
        margin-right: 5%;
    }

    .woc {
        margin-top: 80px;
        font-size: 70px;
    }

    .img-container {
        overflow: hidden;
        margin-bottom: 15px;
    }

    .slogan {
        margin: 0 5% 5% 5%;
    }

    .slogan h2 {
        font-size: 45px;
    }


    .footer {
        padding: 5% 5%;
    }
}

@media (max-width:1136px) {
    .navbar {
        grid-template-columns: 40% 60%;
    }

    .woc {
        margin-top: 70px;
        font-size: 60px;
    }

    .slogan h2 {
        font-size: 40px;
    }

}

@media (max-width:1024px) {

    .navbar {
        grid-template-columns: 35% 65%;
    }
}

@media (max-width:992px) {

    .navbar {
        height:auto;
        grid-template-columns: 100%;
        /* padding: 0 5%; */
    }

    .logo{
        text-align: center;
    }

    .preserving,
    .sec-2nd {
        grid-template-columns: 100%;
        margin-bottom: 10%;
    }

    .img5,
    .section {
        margin-bottom: 10%;
    }

    .find-inspiration {
        margin-left: 0;
    }

    .slogan h2 {
        font-size: 30px;
    }

    .about {
        padding:5% 15%
    }

    .extra-details {
        margin: 0 10% 10% 10%;
    }

    .go-to-top{
        display: none;
    }

    .navigation-links {
        grid-area: navlink;
    }

    .navigation-links a {
        text-align: center;
    }

    .contacts {
        grid-area: contact;
    }

    .social-media {
        grid-area: social;
    }

    .thank-you {
        grid-area: thankyou;
    }

    .footer {
        grid-template-areas: 'navlink navlink contact social'
        'thankyou thankyou thankyou thankyou ';
    }
}

@media (max-width:768px){
    .section{
        grid-template-columns: 100%;
    }

    .sec1 {
        margin-right: 0;
        margin-bottom: 10%;
    }
}

@media (max-width:640px){

    .slogan {
        margin-bottom: 10% ;
    }

    .slogan h2 {
        font-size: 20px;
    }

    .about{
        padding:5% 10%;
    }

    .extra-details {
        margin-bottom:15%;
    }
}

@media (max-width:576px){

    .nav-content .nav-ul {
        display: none;
        text-align: center;
    }

    .navbar{
        height: 80px;
        transition: all 0.5s ease;
    }

    .down{
        display:flex;
        justify-content: center;
    }

    .up{
        display:none;
        justify-content: center;
    }

    .down img,.up img{
        width:20px;
    }

    .nav-content ul li{
        margin-bottom: 15px;
    }

    .footer {
        grid-template-areas: 'navlink navlink navlink navlink navlink' 
        'contact contact contact contact contact' 
        'social social social social social'
        'thankyou thankyou thankyou thankyou thankyou';
    }
}